html, body {
  background: rgb(61, 61, 61);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding-right: 5%;
  padding-left: 5%;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
 
.clearfix:after {
  clear: both;
}

.body-wrap {
  background: #F2F2F2;
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}
/* Heading */
.heading {
  height: 25px;
  background-color: #FF3333;
}
h2 {
  float: left;
  color: white;
  display: inline-block;
  margin-left: 10%;
  margin-right: 1.25%;
  margin-top: 5px;
  font-size: 16px;
}
.heading p {
  color: white;
  font-size: 12px;
  display: inline-block;
  margin: auto;
  margin-top: 6px;
}
.headerlinks {
  float: right;
  font-size: 12px;
  color: white;
  display: inline-block;
  position: relative;
  margin-right: 10%;
  margin-top: 8px;
}
.headerlinks a {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
/* INTRO */
.intro {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  height: 25vh;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  } 
.orange-overlay {
  background:#FF2400; 
  opacity:0.7;
  position: relative; 
  top:0px; 
  height: 100%;
  width: 100%;
  box-shadow: 0 -2px 5px 2px black inset;
}

.map {
  width: 100%;
}
h1 {
  position: absolute;
  text-align: center;
  transform: translateY(-50%);
  color: white;
  left: 29%;
  bottom: 40%;
  margin: auto;
}
.twitter {
  width: 50%;
  float: left;
}
.twitter p {
  margin-left: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.social {
  float: right;
  display: inline-block;
  width: 48%;
  position: relative;
  margin-top: 3.6%;
}
.social p {
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 20px;
/*  position: absolute;
  bottom: 340px;*/
}
/*i.fa.fa-twitter, i.fa.fa-facebook, i.fa.fa-instagram {*/
.icons {
  color: gray;
  margin-left: 20px;
 /* position: absolute;
  bottom: 310px;*/
}
.icons a {
  color: gray;
}
i.fa.fa-twitter,i.fa.fa-facebook,i.fa.fa-instagram {
   margin-right: 2px;
}

/* Footer */

footer {
  width: 100%;
  display: block;
  background-color: black;
  clear: both;
}

footer p {
  font-size: 10px;
  margin: 0 0 0 43px;
  color: white;
  padding: 2px;
}
/* ------------------------For Mobile----------------------------- */
@media (max-width: 767px) {
  .body-wrap {
  background: #F2F2F2;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  }
  body, html {
    padding: 0;
  }
  .twitter {
    width: 100%;
    height: 60%;
  }
  .social {
    float: none;
    margin-top: 35%;
  }
  .social p {
    position: relative;
  }
  .heading {
    height: 50px;
  }
  .heading p {
    display: none;
  }
  .headerlinks {
    top: 20px;
    right: 150px;
    float: none;
  }
}