html, body {
  background: rgb(61, 61, 61);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding-right: 5%;
  padding-left: 5%;
  height: 100%;
}
.body-wrap {
  background: #F2F2F2;
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}
/* Heading */
.heading {
  height: 25px;
  background-color: #FF3333;
}
h2 {
  float: left;
  color: white;
  display: inline-block;
  margin-left: 10%;
  margin-right: 1.25%;
  margin-top: 5px;
  font-size: 16px;
}
.heading p {
  color: white;
  font-size: 12px;
  display: inline-block;
  margin: auto;
  margin-top: 8px;
}
.headerlinks {
  float: right;
  font-size: 12px;
  color: white;
  display: inline-block;
  position: relative;
  margin-right: 10%;
  margin-top: 8px;
}
a {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
/* INTRO */
.intro {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  height: 25vh;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  } 
.orange-overlay {
  background:#FF2400; 
  opacity:0.7;
  position: relative; 
  top:0px; 
  height: 100%;
  width: 100%;
  box-shadow: 0 -2px 5px 2px black inset;
}

h1 {
  position: relative;
  text-align: center;
  transform: translateY(-50%);
  color: white;
}

.twitter {

}
.twitter p {
  margin-left: 13px;
}
.social {
  float: right;
  display: inline-block;
  margin-right: 13px;
}
.social p {
  display: inline-block;
}

/* Footer */

footer {
  width: 100%;
  display: block;
  background-color: black;
}

footer p {
  font-size: 10px;
  margin: 0 0 0 43px;
  color: white;
  padding: 2px;
}
