html, body {
  background: rgb(61, 61, 61);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding-right: 5%;
  padding-left: 5%;
}
.body-wrap {
  background: #F2F2F2;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
/* Heading */
.heading {
  height: 25px;
  background-color: #FF3333;
}
h2 {
  float: left;
  color: white;
  display: inline-block;
  margin-left: 10%;
  margin-right: 1.25%;
  margin-top: 5px;
  font-size: 16px;
  height: 7px;
}
.heading p {
  color: white;
  font-size: 12px;
  display: inline-block;
  margin: auto;
  margin-top: 6px;
}
.headerlinks {
  float: right;
  font-size: 12px;
  color: white;
  display: inline-block;
  position: relative;
  margin-right: 10%;
  margin-top: 8px;
}
.headerlinks a {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
.videobox {
  width: 100%;
  background-color: black;
  display: inline-block;
  height: 40vh;
}
video {
  display: block;
  text-align: center;
  position: relative;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  height: 40vh;
}
p {
  font-size: 36px;
  margin-left: 6%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}
.beige-testimonial {
  width: 40%;
  background-color: #C2A385;
  height: 70px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px 10px 10px 10px;
  margin-left: 6%;
  margin-bottom: 2.2%;
  display: inline-block;
  float: left;
}
.beige-testimonial p {
  font-size: 12px;
}
.beige-testimonial img {
  border-radius: 100%;
  float: left;
  height: 60px;
  margin-right: 20px;
}
.black-right {
  float: right;
}
.black-testimonial {
  width: 40%;
  background-color: #352B2B;
  height: 70px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 2.2%;
  margin-right: 7%;
  float: right;
}
.black-testimonial p {
  font-size: 12px;
}
.black-testimonial img {
  border-radius: 100%;
  float: left;
  height: 60px;
  margin-right: 20px;
}

/* ------------------------For Mobile----------------------------- */
@media (max-width: 767px) {
  .body-wrap {
    background: #F2F2F2;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  body, html {
    padding: 0;
  }
  .black-testimonial {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
  }
  .beige-testimonial {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    display: block;
    float: none;
  }
  .videobox {
    width: 100vw;
  }
  .heading {
    height: 7.3%;
  }
  .heading p {
    display: none;
  }
  .headerlinks {
    top: 20px;
    right: 150px;
    float: none;
  }
}