html, body {
  background: rgb(61, 61, 61);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding-right: 5%;
  padding-left: 5%;
  height: 100%;
}
.body-wrap {
  background: #F2F2F2;
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}
/* Heading */
.heading {
  height: 25px;
  background-color: #FF3333;
}
h2 {
  float: left;
  color: white;
  display: inline-block;
  margin-left: 10%;
  margin-right: 1.25%;
  margin-top: 5px;
  font-size: 16px;
}
.heading p {
  color: white;
  font-size: 12px;
  display: inline-block;
  margin: auto;
  margin-top: 6px;
}
.headerlinks {
  float: right;
  font-size: 12px;
  color: white;
  display: inline-block;
  position: relative;
  margin-right: 10%;
  margin-top: 8px;
}
.headerlinks a {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}